@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #050809;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f30808;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  ::-webkit-scrollbar {
    background-color: rgb(239, 236, 236);
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(249, 40, 40), rgb(239, 49, 49));
    border-radius: 10px;


}
.static{
  border-radius: 50%;
}

